html{
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: black;
  width: auto;
  height: auto;
}
header{
  background-color: black;
}
header video{
  background-size: cover;
}
header h1{
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: normal;
  font-family: Verdana;
}
header a{
  color: aquamarine;
  font-size: 16px;
}
.main img{
  background-color: black;
  margin-bottom: 50px;
}
.main h1{
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300px;
  color: white;
}
.main h3{
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
  word-spacing: 0.05px;
}
.footer{
  background-color: black;
  height: 500px;
  width: auto;
}
.footer h1{
  color: white;
}
.footer a{
  font-family: Verdana;
  font-size: 21px;
  color: aquamarine;
}
footer #footer{
  margin-top: 20px;
  font-weight: 300px;
  font-size: 42px;
  font-family: Verdana;
  color: white;
}
.footer h2{
text-align: right;
margin-right: 30px;
  color: Gray;
}
